.header{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    /* width: 100%; */
    padding: 10px 30px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    left: 0;
    
}
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_container a{
    margin-right: 20px;
}